
<html>
<head>
  <title>Watch a video with Gionny</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link href="assets/css/reset.css" rel="stylesheet" type="text/css"/>
  <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>

</head>
<body>
  <header>
    <h1> Watch a video with Gionny </h1>
  </header>

  <form action="/watch" method="get">
    <input type="text" name="videolink" />
    <input type="submit" value="Watch Together!" />

  </form>



  <script src="assets/js/main.js"></script>

</body>
</html>
